/* Navbar Styles */
.navbar {
  z-index: 30;
  position: fixed;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #151A2D; /* Equivalent to border-gray-900 */
  height: 5rem; /* h-16 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem; /* px-6 */width: calc(100% - 300px);
    left: 300px;
}

.logo {
  font-size: 24px;
}

.userInfo {
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px; /* Push to the right */
  display: flex; /* Flex to align icon and text */
  align-items: center;
  color:#151A2D;/* Center vertically */
}
.profile {
  margin-right: 12px; 
  /* Adjust the value as needed for spacing */
  /* You can also add any additional styling you want here */
}

/* Responsive adjustments for screens up to 768px */
@media (max-width: 768px) {
  .navbar {
    width: 100%; /* Take up the full width on smaller screens */
    left: 0; /* Reduce padding */
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .userInfo {
    font-size: 16px;
  }
}

/* Responsive adjustments for screens up to 480px */
@media (max-width: 480px) {
  .navbar {
    padding: 8px; /* Reduce padding further */
    align-items: center;
  }

  .logo {
    font-size: 18px;
  }

  .userInfo {
    font-size: 14px;
  }
}
